<div class="column-gap-3 d-flex display-6 justify-content-center mb-3">
    <a href="https://www.github.com/KodeCrumbs/kode-crumbs-hs.github.io"><i class="fa-brands fa-github" style="color: #443C68;"></i></a>
    <a href="https://www.linkedin.com/company/kode-crumbs"><i class="fa-brands fa-linkedin" style="color: #0077b5;"></i></a>
    <a href="https://www.instagram.com/kode.crumbs/"><i class="fa-brands fa-instagram" style="color: #e1306c;"></i></a>
    <a href="https://discord.com/invite/9ScgXXHD9m"><i class="fa-brands fa-discord" style="color: #5865F2"></i></a>
</div>
