body {
  background-color: #141414;
  color: #ffffff;
}

a {
  color: #ffffff;
}
.nav-pills{
  --bs-nav-pills-link-active-bg: #413543;
  --bs-nav-pills-link-active-color:#ffffff;
}
.nav-link{
  color: #f3b160 ;
}
.nav-link:hover{
  color: #ffffff;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler{
  border-color: #918d8d;
}
.navbar-toggler:focus,
.navbar-toggler:active
.navbar-toggler-icon:focus {
  color: #918d8d;
}
.btn-primary{
  background-color: #413543;
  border-color: #413543;
  --bs-btn-hover-bg: #5e5e5ef6;
  --bs-btn-hover-border-color: #5e5e5ef6;
}

.form-control{
  background-color: #181818;
  border-color: #979797;
  color: #eeeeee;
}
.form-control:focus {
  background-color: #212529;
  color: #ffffff;
}
.float-container {
  bottom: 2rem;
  right: 2rem;
  z-index: 100;
  position: fixed;
  font-size: 1.6em;
}
.float-container a {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  color: #e6e6e6;
  background-color: #343434;
  border-radius: 0.2rem;
  opacity: 0.5;
  transition: all 0.25s ease-in;
}
.float-container a:hover, .float-container a:focus {
  color: #486ce2;
  opacity: 1;
}
@media only screen and (max-width: 768px) {
  .float-container a:hover, .float-container a:focus {
    color: #000;
    opacity: 0.5;
  }
}
.float-container a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.accordion-button{
  background-color: #181818;
  color: #f3b160;
}
.accordion-button ::after {
  background-color: #413543;  
}
.accordion-item{
  color: #ffffff;
  background-color: #121212;
  width: 100% ;
  height: 100%;
}
.accordion-button:not(.collapsed){
  color: #f3b160;
  background-color: #181818;
}
.text-muted {
  color:#f3b160 !important;
}