body {
  background-color: #FFE6C7;
  color: #040303;
}

a {
  color: #141414;
}
.nav-pills{
  --bs-nav-pills-link-active-bg: #f3b160;
  --bs-nav-pills-link-active-color:#ffffff;
}
.nav-link{
  color: #040303 ;
}
.nav-link:hover{
  color: #f3b160;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler{
  border-color: #918d8d;
}
.navbar-toggler:focus,
.navbar-toggler:active
.navbar-toggler-icon:focus {
  color: #918d8d;
}
.btn-primary{
  background-color: #f3b160;
  border-color: #f3b160;
  --bs-btn-hover-bg: #5e5e5ef6;
  --bs-btn-hover-border-color: #5e5e5ef6;
}
.form-control{
  background-color: #F7F7F7;
  border-color: #979797;
  color: #141414;
}
.form-control:focus {
  background-color: #ffffff;
  color: #000000;
}
.float-container {
  bottom: 2rem;
  right: 2rem;
  z-index: 100;
  position: fixed;
  font-size: 1.6em;
}
.float-container a {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  color: #000000;
  background-color: #FFE6C7;
  border-radius: 0.2rem;
  opacity: 0.5;
  transition: all 0.25s ease-in;
}
.float-container a:hover, .float-container a:focus {
  color: #486ce2;
  opacity: 1;
}
@media only screen and (max-width: 768px) {
  .float-container a:hover, .float-container a:focus {
    color: #000;
    opacity: 0.5;
  }
}
.float-container a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.accordion-button{
  background-color: #ffdcb2;
  color: #000000;
}
.accordion-button ::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-item{
  color: #000000;
  background-color: #ffedd7;
  width: 100% ;
  height: 100%;
}
.accordion-button:not(.collapsed){
  color: #141414;
  background-color: #ffdcb2;
}
.text-muted {
  color:#646464 !important;
}